KERNEL=="event*", \
ATTRS{idProduct}=="0410", \
ATTRS{product}=="Griffin PowerMate", \
SYMLINK+="powermate", \
GROUP="users", \
MODE="0660", \
RUN+="/home/pi/run_as pi python -m knobby.main"
